<!DOCTYPE html>

<html lang="en">

<head>
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <title>Welcome</title>
</head>


<body>
<div>
You have succesfully logged in!
</div>
<br>
<form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>
</body>